* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body,
html {
  line-height: 1.5;
  box-sizing: border-box;
  background-color: black;
  margin: 0 auto;
  height: auto;
  width: 1500px;
}

/* Consistent Styles */
:root {
  --green: #4caf50;
  --dark-blue: #2196f3;
  --light-blue: #00bcd4;
  --orange: #ff9800;
  --amber: #d2be0e;
  --yellow: #ffc107;
  --pink: #e91e63;
  --grey: #757575;
  --sand: #fdf5e6;
  --black: #000;
  --white: #fff;
}

/* Home Section */

header {
  position: relative;
}

header img {
  width: 100%;
  margin-bottom: -8px;
}

.home__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 35%;
  padding: 8px 16px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
  box-sizing: content-box;
  opacity: 0.6;
  height: 1px;
}

.download__section {
  color: var(--white);
  background-color: var(--black);
  border-radius: 8px;
  padding: 12px 24px;
  opacity: 0.6;
}

.download__section h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}

.download__section p {
  font-size: 16px;
  margin: 16px 0;
}

.download__section button {
  color: var(--white) !important;
  font-size: 16px;
  padding: 8px 16px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--green);
  cursor: pointer;
}

.download__section:hover {
  opacity: 1;
}

.slider__button {
  color: var(--white);
  background-color: var(--black);
  margin-right: 16px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  padding: 8px 16px;
  cursor: pointer;
}

.slider__button:hover {
  background-color: var(--white);
  color: var(--black);
}

/* App Section */

.app{
  width: 100%;
  height: 85%;
  font-size: 40px;
  background-color: var(--white);
}

.The-App{
  line-height: 1.5;
  margin-top: 66px;
  margin-bottom: 10px;
  font-size: 63.8px;
  font-weight: 700;
  margin-left: 16px;
}

.Buy-it{
  line-height: 1.5;
  color: var(--green);
  margin-left: 16px;
  font-size: 48px;

}

.introduction{
  line-height: 1.5;
  margin-top: 15px;
  width: 66%;
  font-size: 16px;
  margin-left: 16px;
}

.Available{
  line-height: 1.5;
  margin-top: 50px;
  font-size: 500000000%;
  height: 8%;
  width: 65%;
  font-size: 16px;
  margin-left: 20px;
}

.intro{
  line-height: 1.5;
  font-size: 24px;
}

.Download{
  border: 1px solid #f1f1f1;
  line-height: 1.5;
  font-size: 16px;
  width: 17.9%;
  height: 8%;
  margin-top: 50px;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-android{
  color: var(--green);
}

.fa-windows{
  color: var(--dark-blue);
}

.img-app{
    width: 100%;
  }

#icon{
  letter-spacing: 5px;
}

.icons{
  margin-top: -3.9%;
  margin-left: 9.3%;
  width: 10%;
  font-size: 25px;
  letter-spacing: -1px;
}

.picture{
  margin-left: 74%;
  margin-top: -480px;
  width: 24.5%;
}