* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body,
html {
  line-height: 1.5;
  box-sizing: border-box;
  height: 100%;
}

/* Consistent Colors */
:root {
    --green: #4CAF50;
    --dark-blue: #2196F3;
    --light-blue: #00bcd4;
    --orange: #ff9800;
    --amber: #d2be0e;
    --yellow: #ffc107;
    --pink: #e91e63;
    --grey: #757575;
    --sand: #fdf5f7;
}

/* Home Section */

.home img {
  max-width: 100%;
}

/* App Section */

.app{
  width: 100%;
  height: 85%;
  font-size: 40px;
}

.The-App{
  line-height: 1.5;
  margin-top: 78px;
  margin-bottom: 10px;
  font-size: 86px;
  font-weight: 700;
  margin-left: 20px;
}

.Buy-it{
  line-height: 1.5;
  color: var(--green);
  margin-left: 20px;
  font-size: 65px;

}

.introduction{
  line-height: 1.5;
  margin-top: 20px;
  width: 66%;
  font-size: 22px;
  margin-left: 20px;
}

.Available{
  line-height: 1.5;
  margin-top: 50px;
  font-size: 500000000%;
  height: 8%;
  width: 65%;
  font-size: 21px;
  margin-left: 20px;
}

.intro{
  line-height: 1.5;
  font-size: 30px;
}

.Download{
  border: 1px solid #f1f1f1;
  line-height: 1.5;
  font-size: 21px;
  width: 17.9%;
  height: 8%;
  margin-top: 50px;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-android{
  color: var(--green);
}

.fa-windows{
  color: var(--dark-blue);
}

.img-app{
    width: 100%;
  }

#icon{
  letter-spacing: 5px;
}

.icons{
  margin-top: -3.9%;
  margin-left: 8.5%;
  width: 10%;
  font-size: 32px;
  letter-spacing: -1px;
}

.picture{
  margin-left: 73%;
  margin-top: -620px;
  width: 24.5%;
}
