* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body,
html {
  line-height: 1.5;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
}

/* Consistent Colors */
:root {
    --green: #4CAF50;
    --dark-blue: #2196F3;
    --light-blue: #00bcd4;
    --orange: #ff9800;
    --amber: #d2be0e;
    --yellow: #ffc107;
    --pink: #e91e63;
    --grey: #757575;
    --sand: #
}

/* Home Section */

.home img {
  max-width: 100%;
}

